@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');

div .navegacion{
	background-color: #DCE6F6;
}

.letra a{
	color: gray !important;
	font-family: 'Roboto', sans-serif;
	font-size: 400;
}

.home{
	background-color: #fff;
}

.home div{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: gray;
	margin-top: 40px;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	color: gray;
	margin-top: 40px;
}

#contacto{
	height: 60vh;
}

.form-control:hover{
	background-color: pink;
}

.items li{
	list-style-type: none;
}

li img:hover{
	transform: scale(1.3);
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

#footer{
	background-color: #DBD3C6;
	height: 25vh;
	/*display: flex;*/
	justify-content: flex-end;
	display: block;
}

.webs li{
	list-style-type: none;
}

ul a{
	text-decoration: none;
	color: gray;
	font-family: 'Roboto', sans-serif;
}

.insta img{
	background-position: center;
	height: 40px;
	width: 40px;
	background-size: cover;
}

.fb img{
	background-position: center;
	height: 40px;
	width: 40px;
	background-size: cover;
}

